<!DOCTYPE html>
<html>
<body>

<h2>Bid Forms</h2>

<h3>Item 1</h3>
<form id="item1">
  Email:<br>
  <input type="text" id="email1" value="myemail@webhost.com">
  <br>
  Bid:<br>
  <input type="number" id="bid1" value="Bid Amount">
  <br><br>
  <input type="submit" value="Submit">
</form> 

<hr>

<h3>Item 2</h3>
<form id="item2">
  Email:<br>
  <input type="text" id="email2" value="myemail@webhost.com">
  <br>
  Bid:<br>
  <input type="number" id="bid2" value="Bid Amount">
  <br><br>
  <input type="submit" value="Submit">
</form> 

<hr>

<h3>Item 3</h3>
<form id="item3">
  Email:<br>
  <input type="text" id="email3" value="myemail@webhost.com">
  <br>
  Bid:<br>
  <input type="number" id="bid3" value="Bid Amount">
  <br><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>
